# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

Raw_Data/results_keras/

# Data files
.dat
.pkl
.arg

*.dat

*.pkl

*.data_raw

Raw_Data/accuracy_keras_vs_epochs_training_D_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000.callback_history

Raw_Data/accuracy_keras_vs_epochs_training_D_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000.callback_history

Raw_Data/accuracy_keras_vs_epochs_training_D_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000.callback_history

Raw_Data/accuracy_keras_vs_epochs_validating_D_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000.callback_history

Raw_Data/accuracy_keras_vs_epochs_validating_D_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000.callback_history

Raw_Data/accuracy_keras_vs_epochs_validating_D_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000.callback_history

Raw_Data/loss_keras_vs_epochs_training_D_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000.callback_history

Raw_Data/loss_keras_vs_epochs_training_D_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000.callback_history

Raw_Data/loss_keras_vs_epochs_training_D_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000.callback_history

Raw_Data/loss_keras_vs_epochs_validating_D_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000.callback_history

Raw_Data/loss_keras_vs_epochs_validating_D_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000.callback_history

Raw_Data/loss_keras_vs_epochs_validating_D_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000.callback_history

Raw_Data/model_keras_summary_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_report.txt

Raw_Data/model_keras_summary_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_report.txt

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000_epochs.001.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000_epochs.003.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000_epochs.004.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000_epochs.005.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000_epochs.008.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000_epochs.009.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000_epochs.011.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000_epochs.014.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000_epochs.019.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000_epochs.022.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000_epochs.028.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000_epochs.049.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000_epochs.079.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000_epochs.088.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.000_epochs.096.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.001_epochs.001.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.001_epochs.002.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.001_epochs.003.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.001_epochs.004.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.001_epochs.005.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.001_epochs.007.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.001_epochs.011.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.0_Batch.064_lr.0.0010_run.001_epochs.020.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.001.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.002.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.003.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.004.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.005.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.006.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.007.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.008.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.009.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.010.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.011.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.012.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.013.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.014.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.015.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.016.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.017.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.018.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.019.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.020.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.021.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.022.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.023.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.024.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.025.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.026.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.027.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.028.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.029.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.030.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.031.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.032.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.033.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.034.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.035.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.036.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.037.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.038.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.039.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.040.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.041.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.042.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.043.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.044.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.045.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.046.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.047.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.048.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.049.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.050.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.051.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.052.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.053.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.054.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.055.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.056.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.057.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.058.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.059.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.060.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.061.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.062.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.063.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.064.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.065.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.066.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.067.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.068.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.069.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.070.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.071.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.072.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.073.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.074.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.075.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.076.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.077.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.078.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.079.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.080.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.081.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.082.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.083.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.084.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.085.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.086.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.087.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.088.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.089.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.090.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.091.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.092.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.093.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.094.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.095.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.096.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.097.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.098.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.099.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.1_Batch.064_lr.0.0010_run.000_epochs.100.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.001.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.002.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.003.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.004.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.005.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.006.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.007.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.008.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.009.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.010.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.011.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.012.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.013.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.014.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.015.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.016.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.017.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.018.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.019.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.020.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.021.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.022.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.023.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.024.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.025.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.026.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.027.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.028.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.029.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.030.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.031.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.032.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.033.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.034.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.035.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.036.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.037.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.038.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.039.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.040.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.041.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.042.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.043.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.044.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.045.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.046.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.047.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.048.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.049.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.050.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.051.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.052.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.053.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.054.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.055.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.056.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.057.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.058.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.059.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.060.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.061.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.062.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.063.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.064.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.065.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.066.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.067.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.068.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.069.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.070.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.071.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.072.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.073.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.074.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.075.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.076.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.077.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.078.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.079.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.080.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.081.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.082.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.083.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.084.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.085.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.086.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.087.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.088.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.089.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.090.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.091.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.092.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.093.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.094.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.095.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.096.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.097.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.098.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.099.keras

Raw_Data/model_keras_V_max.1_preselection.1_std_N_epochs.100_NN.2_Batch.064_lr.0.0010_run.000_epochs.100.keras

Unsupervised/PCA_before_AE.pickle
